Controllers/StaffController.cs
Controllers/AziendaController.cs
Controllers/SignupAziendaController.cs
Controllers/StaffController.cs

Models/SignupAzienda.cs
Models/Azienda.cs
Models/Staff.cs
Models/AppContact.cs
Models/SignUp.cs
Models/AuthToken.cs
Models/SignupPrivato.cs

Data/ApiServerContext.cs.bak
swap.sh
appsettings.json.bak
appsettings.Development.json.bak
*.pfx

bin/

key
obj
